@media (max-width: 768px) {
    .contact-email{
font-size: 1.8rem;

}

.contact-phone{
  font-size: 1.8rem;
}
.contact-phone-min{
  font-size: 1.3rem;
}
.contact-fa{
margin-top: 2.5rem;
margin-bottom: 2.5rem;
font-size: 4rem;
}
}

@media (min-width: 769px) and (max-width: 992px) {


  }

@media (min-width: 993px) and (max-width: 1170px) {
  	
  }

@media (min-width: 1171px)  {
  	
  }

